#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <38 39>;
            require-prior-idle-ms = <0>;
            layers = <0 1 2 3 4 5>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <38 40>;
            layers = <0 1 2 3 4 5>;
        };

        screenshot {
            bindings = <&kp LG(LA(C))>;
            key-positions = <38 39 40>;
            layers = <0 1 2 3 4>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <29 28>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        redo {
            bindings = <&kp LG(LS(Z))>;
            key-positions = <30 31>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <44 45>;
            layers = <0 5>;
        };

        to_caps {
            bindings = <&to 5>;
            key-positions = <14 15 16>;
            layers = <0 5>;
        };

        vol_up {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <16 17>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        vol_down {
            bindings = <&kp C_VOLUME_DOWN>;
            key-positions = <40 41>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        zoom_in {
            bindings = <&kp LG(EQUAL)>;
            key-positions = <18 19>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        zoom_out {
            bindings = <&kp LG(MINUS)>;
            key-positions = <42 43>;
            require-prior-idle-ms = <200>;
            layers = <0 1 2 3 4 5>;
        };

        to_symbols {
            bindings = <&to 2>;
            key-positions = <19 20 21>;
            layers = <0 5>;
            require-prior-idle-ms = <200>;
        };
    };

    behaviors {
        ht_hyper: hold_tap_hyper {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <70>;
        };

        hrm_left: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <0>;
            flavor = "balanced";
            hold-trigger-key-positions = <48 49 50 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 51 52 53>;
        };

        hrm_right: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <0>;
            flavor = "balanced";
            hold-trigger-key-positions = <53 52 51 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50>;
        };

        sticky_quick: sticky_quick {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_QUICK";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };

        td_app_switch: td_app_switch {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_APP_SWITCH";
            #binding-cells = <0>;
            bindings = <&kp LG(TAB)>, <&start_app_switch>;
        };

        coma_at: coma_at {
            compatible = "zmk,behavior-mod-morph";
            label = "COMA_AT";
            bindings = <&kp COMMA>, <&kp AT_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_asterisk: dot_asterisk {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_ASTERISK";
            bindings = <&kp PERIOD>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_backspace_symbols: mm_backspace_symbols {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BACKSPACE_SYMBOLS";
            bindings = <&kp BACKSPACE>, <&mo 2>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
    };

    macros {
        esc_to_base: esc_to_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &to 0>;
            label = "ESC_TO_BASE";
        };

        lambda: lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp MINUS &kp GT &kp SPACE>;
            label = "LAMBDA";
        };

        full_lambda: full_lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LPAR &kp RPAR &kp SPACE &kp MINUS &kp GT &kp SPACE &kp LBRC &kp RBRC>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW>;

            label = "FULL_LAMBDA";
        };

        todo_pv: todo_pv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp FSLH &kp SPACE &kp LS(T) &kp LS(O) &kp LS(D) &kp LS(O) &kp SPACE &kp LS(P) &kp LS(V) &kp COLON &kp SPACE>;
            label = "TODO_PV";
        };

        javadoc: javadoc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp STAR &kp STAR &kp ENTER>;
            label = "JAVADOC";
        };

        java_constant: java_constant {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp U &kp B &kp L &kp I &kp C &kp SPACE &kp S &kp T &kp A &kp T &kp I &kp C &kp SPACE &kp F &kp I &kp N &kp A &kp L &kp SPACE>;
            label = "JAVA_CONSTANT";
        };

        full_paranthesis: full_paranthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LPAR &kp RPAR>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_PARANTHESIS";
        };

        full_brackets: full_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_BRACKET &kp RIGHT_BRACKET>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_BRACKETS";
        };

        full_braces: full_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_BRACE &kp RIGHT_BRACE>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_BRACES";
        };

        full_less_greater: full_less_greater {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LESS_THAN &kp GREATER_THAN>,
                <&macro_wait_time 30>,
                <&kp LEFT_ARROW>;

            label = "FULL_LESS_GREATER";
        };

        start_app_switch: start_app_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LGUI &kp TAB &to 4>;
            label = "START_APP_SWITCH";
        };

        end_app_switch: end_app_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LGUI &to 0>;
            label = "END_APP_SWITCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphas {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7   |  8  |  9  |  0  |  ?   |
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE                       &kp N1             &kp N2            &kp N3            &kp N4              &kp N5         &kp N6                 &kp N7              &kp N8             &kp N9             &kp N0                      &kp EQUAL
&kp TAB                         &kp Q              &kp W             &kp E             &kp R               &kp T          &kp Y                  &kp U               &kp I              &kp O              &kp P                       &kp MINUS
&ht_hyper LS(LA(LC(LGUI))) ESC  &hrm_left LCTRL A  &hrm_left LALT S  &hrm_left LGUI D  &hrm_left LSHIFT F  &kp G          &kp H                  &hrm_right RSHFT J  &hrm_right RGUI K  &hrm_right RALT L  &hrm_right RCTRL SEMICOLON  &kp SQT
&sticky_quick LSHFT             &kp Z              &kp X             &kp C             &kp V               &kp B          &kp N                  &kp M               &kp COMMA          &dot_asterisk      &kp SLASH                   &sticky_quick RSHFT
                                                                     &td_app_switch    &mo 2               &lt 3 SPACE    &mm_backspace_symbols  &mo 4               &kp ENTER
            >;
        };

        lt_mac {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 | F10 | BKSP |
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans                &trans                &trans                &trans                &trans            &trans          &trans          &trans          &trans          &trans             &trans
&trans  &kp LS(LA(NUMBER_1))  &kp LS(LA(NUMBER_2))  &kp LS(LA(NUMBER_3))  &kp LS(LA(NUMBER_4))  &kp LS(LA(N5))    &kp LS(LA(N6))  &kp LS(LA(N7))  &kp LS(LA(N8))  &kp LS(LA(N9))  &kp LS(LA(EQUAL))  &trans
&to 0   &kp LA(N1)            &kp LA(N2)            &kp LA(N3)            &kp LA(N4)            &kp LA(N5)        &kp LA(N6)      &kp LA(N7)      &kp LA(N8)      &kp LA(N9)      &kp LA(EQUAL)      &trans
&trans  &trans                &trans                &javadoc              &todo_pv              &trans            &trans          &lambda         &full_lambda    &trans          &trans             &trans
                                                    &trans                &trans                &trans            &trans          &trans          &trans
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &trans         &trans         &javadoc       &todo_pv          &trans                  &trans                 &lambda    &full_lambda  &trans     &trans     &trans
&kp TILDE  &kp GRAVE      &kp PERCENT    &kp HASH       &kp DLLR          &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp KP_N7  &kp KP_N8     &kp KP_N9  &kp SLASH  &kp ASTERISK
&to 0      &kp AMPERSAND  &kp PIPE       &kp EXCL       &kp EQUAL         &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp KP_N4  &kp KP_N5     &kp KP_N6  &kp MINUS  &kp PLUS
&trans     &kp SLASH      &kp BACKSLASH  &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp KP_N1  &kp KP_N2     &kp KP_N3  &kp KP_N0  &trans
                                         &trans         &trans            &trans                  &trans                 &trans     &trans
            >;
        };

        fn {
            bindings = <
&trans  &trans     &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans     &trans    &trans    &trans     &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&to 0   &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans     &trans    &trans    &trans     &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                             &trans    &trans     &trans    &mo 6   &trans  &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans     &trans      &trans             &trans           &trans        &trans          &trans          &trans           &trans           &trans     &trans
&trans  &trans     &trans      &trans             &trans           &trans        &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP     &msc SCRL_RIGHT  &trans     &trans
&to 0   &kp LCTRL  &kp LALT    &kp LGUI           &kp LSHFT        &trans        &kp LEFT        &kp DOWN        &kp UP           &kp RIGHT        &kp ENTER  &trans
&trans  &kp C_PP   &kp C_PREV  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP     &mmv MOVE_RIGHT  &trans     &trans
                               &mkp LCLK          &mkp MCLK        &mkp RCLK     &mo 2           &trans          &end_app_switch
            >;
        };

        caps {
            bindings = <
&trans          &trans                 &trans                    &trans                &trans                 &trans            &trans     &trans                  &trans                 &trans                 &trans                      &trans
&esc_to_base    &kp LS(Q)              &kp LS(W)                 &kp LS(E)             &kp LS(R)              &kp LS(T)         &kp LS(Y)  &kp LS(U)               &kp LS(I)              &kp LS(O)              &kp LS(P)                   &trans
&to 0           &hrm_left LCTRL LS(A)  &hrm_left LEFT_ALT LS(S)  &hrm_left LGUI LS(D)  &hrm_left LSHFT LS(F)  &kp LS(G)         &kp LS(H)  &hrm_right RSHFT LS(J)  &hrm_right RGUI LS(K)  &hrm_right RALT LS(L)  &hrm_right RCTRL SEMICOLON  &trans
&java_constant  &kp LS(Z)              &kp LS(X)                 &kp LS(C)             &kp LS(V)              &kp LS(B)         &kp LS(N)  &kp LS(M)               &trans                 &trans                 &trans                      &trans
                                                                 &trans                &kp SPACE              &kp UNDERSCORE    &trans     &trans                  &trans
            >;
        };

        bt {
            bindings = <
&bt BT_CLR  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&to 0       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
